* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.whole-page {
  margin: 2rem 2rem 0.5rem 2rem;
}
.navigation {
  display: flex;
  justify-content: end;
  gap: 1.6rem;
  align-items: end;
}
.sec-foot {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section {
  text-align: center;
}

.google {
  font-size: 9rem;
  margin: 3rem 0;
}
.g {
  color: rgba(66, 133, 244);
}
.o,
.e {
  color: rgba(219, 68, 55);
}
.o2 {
  color: rgba(244, 194, 13);
}
.l {
  color: rgba(46, 160, 67);
}

.the-whole-input-filed {
  max-width: 55rem;
  margin: 3rem auto 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px;
}
.Input-field {
  border: none;
  width: 40rem;
  height: 4rem;
}
.search-icon {
  margin: 0 1.2rem;
  font-size: 1.8rem;
}
.pic-btns {
  margin: 0 1.2rem;
  height: 4rem;
  display: flex;
  gap: 1.4rem;
}
.pic-btn {
  border: none;
  background-color: white;
}

.after-btns {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  padding: 1rem 1.8rem;
  margin-left: 3rem;
}

.languages {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.language {
  margin-left: 1rem;
}

.uganda {
  background-color: #ddd;
  color: #70757a;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #eee;
}

.footer-links {
  background-color: #ddd;
  color: #70757a;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.footer-links-left,
.footer-links-right {
  display: flex;
  gap: 2rem;
}
